<a href="https://colab.research.google.com/github/kkimjjihhyeon/BP_10_Ch4/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_4%EC%9E%A5_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("나는 "+ str(12)+ "개의 사과를 먹었다.")

나는 12개의 사과를 먹었다.

In [4]:
print('apple'+'grape')
print('apple '*3)

applegrape
apple apple apple

In [5]:
s = input("문자열을 입력하시오 : ")
print(s[0:2] + s[-2:])

문자열을 입력하시오 : python
pyon

In [6]:
s = input("문자열을 입력하시오 : ")
print(s + '하는 중')

문자열을 입력하시오 : 청소
청소하는 중

In [9]:
s = input("기호를 입력하시오 : ")
m = input("중간에 삽입할 문자열을 입력하시오 : ")
print(s[0] + m + s[1])

기호를 입력하시오 : []
중간에 삽입할 문자열을 입력하시오 : python
[python]

In [10]:
list1= [1,2,3,4]
print("리스트= [1,2,3,4]")

sum1= list1[0] + list1[1] + list1[2] + list1[3]

print("리스트 숫자들의 합=" + str(sum1))

리스트= [1,2,3,4]
리스트 숫자들의 합=10